.icon {
    height: 100px;
    width: 100px;
}
.jumbotron {
    background-color: #ef3a41;
    color: white;
}
#header {
    text-align: center;
    color:white;
}
h1{
    font-family: 'Fjalla One', sans-serif;
    color: white;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}
h4{
    color:white;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
}
button {
    background-color: #066db2;
}
body {
    background-color: #066db2;
}
option {
    background-color: #fff100;
}